<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    <title>Idnes News Scraper | By Lukas Bubik</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/custom.css">
</head>
<body>
    <div class="text-white bg-dark">
        <div class="container">
            <h1>News Web Scraper</h1>
        </div>
    </div>
    <div class="container mt-5">
        <h2>Some news from idnes.cz:</h2>
        <hr>
        {% for title in titles %}
        <h3><a href="{{links[loop.index - 1]}}" target="_blank">{{title}}</a></h3>
        <hr>
        {% endfor %}
        <div class="flex1">
            <form action="/botrun/" method="POST">
                <button onclick="showLoading()"id="show" class="btn btn-success" type="submit">Get news</button>
            </form>
            <form action="/">
                <button onclick="hideLoading()"class="btn btn-danger" id="hide">Delete news</button>
            </form>
        </div>
        <p id="loading" class="bg-light">Loading news, do not click the button again.</p>
        <div class="fixed-bottom text-center p20 text-white bg-dark">
            <div class="container flex1 align-items-center">
                <p id="source">Source: <a href="https://www.idnes.cz/">https://www.idnes.cz/</a></p>
                <footer class=>Made by Lukas Bubik</footer>
            </div>
        </div>
    </div>
</body>
</html>