<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>-->
    <title>Document</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
    <div class="container">
        <h1>Some news from idnes.cz:</h1>
        <hr>
        {% for title in titles %}
        <h3><a href="{{links[loop.index - 1]}}" target="_blank">{{title}}</a></h3>
        {% endfor %}
        <hr>
        <form action="/botrun/" method="POST">
            <button id="refresh-btn"class="btn btn-default" type="submit">Refresh news</button>
        </form>
        <p id="loading" style="display: {{loading}};" class="bg-warning">Scraping some news, do not click the button again.</p>
        
    </div>
</body>
</html>